* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #2545a6;
}
table.event1 tr:hover td{
    background-color:  #647ec9;

}
.event1:hover{
    background-color: #647ec9;
}


img {
    height: 50px;
}

h1 {
    text-align: center;
    margin-top: 20px;
color:white;
}

table {

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;

}
.event1{
    margin-top: 40px;
}
 td{
    padding :10px 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color:white;
}
i{
    width:20px;
    height:20px;
}
td.button :hover{
background-color: #c8c6ef;
}
table.event1 td.button  button i{
    color:white;
}
.eventName{
    font-size: 22px;
}
